<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kube.noon.feed.repository.mybatis.TagMyBatisRepository">
    <resultMap id = "tagMap" type = "com.kube.noon.feed.dto.TagDto">
        <result property = "tagId" column = "tag_id" jdbcType = "NUMERIC"/>
        <result property = "tagText" column = "tag_text" jdbcType = "VARCHAR"/>
    </resultMap>

    <select id = "getTagByFeedId" resultMap = "tagMap">
        SELECT t.*
        FROM tag_feed f
                 INNER JOIN tag t ON f.tag_id = t.tag_id
        WHERE feed_id = 10000;
    </select>
<!--    전에 쓰던 로직 개선하여 사용할 예정입니다. -->
<!--    <select id = "getFeedCountByTagName"  resultMap = "productCountByTagMap">-->
<!--        SELECT result.tag_name, COUNT(*) count FROM-->
<!--            ( SELECT p.prod_name, t.tag_name FROM product p-->
<!--            INNER JOIN product_tag pt ON pt.prod_no = p.prod_no-->
<!--            INNER JOIN tag t ON t.tag_no = pt.tag_no ) result-->
<!--        GROUP BY result.tag_name-->
<!--    </select>-->

<!--    <select id = "getProductCountByTransaction" resultMap = "productCountByTransactionMap">-->
<!--        SELECT p.prod_name, result.count FROM product p-->
<!--            INNER JOIN-->
<!--            ( SELECT prod_no, COUNT(*) count FROM transaction_list GROUP BY prod_no ) result-->
<!--            ON result.prod_no = p.prod_no-->
<!--    </select>-->
</mapper>