<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kube.noon.feed.repository.mybatis.TagMyBatisRepository">
    <resultMap id = "tagMap" type = "com.kube.noon.feed.dto.TagDto">
        <result property = "tagId" column = "tag_id" jdbcType = "NUMERIC"/>
        <result property = "tagText" column = "tag_text" jdbcType = "VARCHAR"/>
    </resultMap>

    <select id = "getTagByFeedId" resultMap = "tagMap">
        SELECT t.*
        FROM tag_feed f
                 INNER JOIN tag t ON f.tag_id = t.tag_id
        WHERE feed_id = 10000;
    </select>

</mapper>